/* =============== CSS Variables =============== */
:root{
  --header-height:4rem;
  --favorite-height:300px;
  /* Colors */
  --first-color:hsl(258, 81%, 58%);
  --first-color-alt:hsl(261, 100%, 78%);
  --title-color:hsl(0, 0%, 92%);
  --text-color:hsl(0,0%,75%);
  --text-color-light:hsl(0,0%,65%);
  --black-color:hsl(0,0%,8%);
  --body-color:hsl(0,0%,8%);
  --container-color:hsl(0,0%,12%);
  /* Fonts */
  --body-font:"Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size:3rem;
  --bigger-font-size:2rem;
  --h1-font-size:1.5rem;
  --h2-font-size:1.25rem;
  --h3-font-size:1rem;
  --normal-font-size:0.9rem;
  --small-font-size:0.8rem;
  --smaller-font-size:0.7rem;
  --smallest-font-size:0.3rem;
  /* font weight */
  --font-thin:100;
  --font-light:250;
  --font-regular:400;
  --font-semi-bold:600;
  --font-bold:700;
  /* z index */
  --z-tooltip:10;
  --z-fixed:100;
}
@media screen and (min-width: 1150px){
:root{
  --biggest-font-size:5rem;
  --bigger-font-size:3rem;
  --h1-font-size:2.25rem;
  --h2-font-size:1.5rem;
  --h3-font-size:1.25rem;
  --normal-font-size:1rem;
  --small-font-size:0.9rem;
}
}

/* =============== Base =============== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
}
html{
  scroll-behavior: smooth;
}

body{
  color: var(--text-color);
  background-color:var(--black-color);
  background-image: url("../images/imge.png");
  background-size: 100% auto;
  background-repeat: repeat;
}


body, button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button{
  border:none;
  outline: none;
}

h1, h2, h3, h4{
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* =============== Reusable CSS Classes =============== */
.container{
  /* max-width: 1120px; */

  margin-inline: 1.5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.section{
  padding-block: 5rem 1rem;
}
.section__title{
  font-size: var(--bigger-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.5rem;
  text-align: center;
}
.main{
  overflow: hidden;
}
/* =============== Header & Nav =============== */
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* background-image: linear-gradient(180deg, hsla(0, 0%, 0%, 0.726), hsla(0, 0%, 0%, 0)); */
  z-index: var(--z-fixed);
  padding-bottom: 2rem;
}

.nav{
  position:relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__logo{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  transition: color 0.5s ease;
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle, 
.nav__close{
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
  width: fit-content;
}

/* Navigation for mobile devices */
@media screen and (max-width:1150px) {
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    -webkit-backdrop-filter: blur(16px);
     backdrop-filter: blur(16px);
    width: 70%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: 0.5s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color 0.5s;
  padding: 0.3rem;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close, .nav__img-1,.nav__img-2{
  position: absolute;  
}

.nav__close{
  top: 1rem;
  right: 1.5rem;
}

.nav__img-1{
  filter: invert(70%)  brightness(70%);
  height: 5.5rem;
  top: 10rem;
  right: 5rem;
  transform: rotate(10deg);
}

.nav__img-2{
  filter: grayscale(100%)  brightness(70%);
  height: 4rem;
  top: 20rem;
  right: 10rem;
  transform: rotateY(180deg);
}
/* Scroll Bar */
::-webkit-scrollbar{
  width: 0.5rem;
  background-color: rgba(43, 40, 36, 0.74);
  transition: ease 0.4s;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(65, 61, 52, 0.74);
  transition: ease 0.4s;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(104, 97, 84, 0.74);
}
/* Show menu */
.show__menu{
  right: 0;
}
/* Add blur header */
.blur_header::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 5%, 0.2);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  mask: linear-gradient(to bottom, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0.918),hsla(0, 0%, 0%, 0.712),hsla(0, 0%, 0%, 0));
  top: 0;
  left: 0;
  z-index: -1;
}
/* Active Link */


/* =============== Home =============== */
.home-section{
  margin-top: 100px;
}
.home{
  position: relative;
  padding-top: 6rem;
}
.home__container{
  row-gap: 1rem;
  margin: auto;
}
.home__bg, .home__shadow{
  position:absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%; 
  z-index: -3;
}
.home__shadow{
  background: linear-gradient(180deg, hsla(0,0%,0%,0), hsla(0, 0%, 0%, 0.3));
  z-index: -1;
}

.home__bg{
  object-fit: cover;
  object-position: center;
}

.home__data{
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}
.home__title{
  font-size: var(--bigger-font-size);
  font-family: var(--body-font);
  margin-bottom: 1rem;
}

.home__social{
display: flex;
column-gap: 1rem;
justify-content: center;
align-items: center;
}

#social_mail, #social_insta, #deviant{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  transition: color 0.4s;
}
#social_mail:hover, #social_insta:hover, #deviant:hover{
color:var(--first-color);
}

.bg__img{
filter: grayscale(100%) brightness(0.9);
position: absolute;
top: 30%;
right: 5rem;
height: 7rem;
transform: rotate(15deg);
z-index: -2;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright{
  font-size: calc(var(--smallest-font-size) + 0.8vw);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: var(--text-color);
  margin: 1rem 0 3rem;
  transition: color ease-in-out 0.4s;
}
.copyright:hover{
  color:var(--first-color);
}

/* =============== Gallery =============== */
#image_Container{
  
  width:calc(100% - 3rem);
  position: absolute;
  top: var(--header-height);
  margin: auto auto;
  left: 50%;
  transform: translate(-50%, 0);  
  columns:4;
  column-gap: 1.5rem;
}

#image_Container .box{
  max-width:100%;
  margin-bottom: 1.5rem;
  break-inside: avoid;
  border-radius: 5%;
  overflow: hidden;
}

#image_Container .box img {
  transition: ease-in-out 0.35s;
}

#image_Container .box img:hover{
  filter: brightness(85%);
  transform: scale(1.1);
  cursor: pointer;
}

@media(max-width:1280px) {
  #image_Container{
    columns:3;    
  }

}
@media(max-width:768px) {
  #image_Container{
    columns:2;    
  }

}
@media(max-width:360px) {
  #image_Container{
    columns:1;    
  }

}

/* =============== Copyright =============== */
.Copyright_body{
  position:absolute;
  top: var(--header-height);
  left: 50%;
  transform: translate(-50%,0);
  width: 80%;

}
.copyright_title{
  text-align: center;
  padding-bottom: 2rem;
}
.signature{
  padding-bottom: 1rem;
}

.rule{
  margin: 1rem;
}
.copyright_text{
  padding-bottom: 1rem;
}
#credit_link,#Contact_mail{
  text-decoration: none;
  color: var(--text-color);
}
/* =============== About =============== */
.About_Container{
  position:absolute;
  top: var(--header-height);
  left: 50%;
  transform: translate(-50%,0);
  width: 80%;
}
.About_title{
  text-align: center;
  padding-bottom: 1rem;
}
.About_Section{
  padding-bottom: 1rem;
}
.about_text{
  padding-bottom: 1rem;
  line-height: 1rem;
}
.aboutclosure{
  line-height: 1.5rem;
}
.socials__list{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.social__item{
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.5s;
}
.social__item:hover{
  color: var(--first-color);
}
.about_social_insta, .about_social_gmail, .about_social_deviantart{
  margin:0 0.5rem;
}
#about-gmail{
  margin:0.5rem 0 0.5rem 0.5rem;
}
#about-insta,  #about-deviant{
  margin: 0.5rem;
}

/* =============== Favorite =============== */
.Favorties-section{
  margin: 3rem 0 1rem;
}
.Favorties-section h1#Favorite-title{
  display: flex;
  justify-content: center;
  line-height: 4rem;
  font-size: 1.5rem;
}
.Fav_frame{
  display: flex;
  justify-content: center;

}
.fav_image_container{  
  width: 60%;
  height:var(--favorite-height);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.fav_image_container img{
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(var(--favorite-height) * 0.035);
  border: solid thin hsl(240, 4%, 14%);
  transition: all ease-in-out 0.25s;
}
.fav_image_container img:hover{
  width: 35%;
}
/* =============== Modal Container =============== */
.Modal_Container{
  display: none;
  position: fixed;
  z-index: var(--z-fixed);
  padding: 20% 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.8);
}
.modal_content{
  margin: auto;
  display: block;
  animation-name: zoom;
  animation-duration: 0.4s;
}
@keyframes zoom {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
#Modal_close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--text-color);
  font-size: var(--bigger-font-size);
  font-weight: var(--font-bold);
  transition: 0.4s;
  padding: 0.5rem;
}
#Modal_close:hover {
  color:var(--title-color);
  text-decoration: none;
  cursor: pointer;
}

/* =============== For Large Devices =============== */
@media screen and (min-width: 1150px) {
  .fav_image_container{
    width: 60%;
    height: calc(var(--favorite-height) + 10rem);
  }
  .nav{
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle, .nav__close, .nav__img-1, .nav__img-2{
  display: none;
 }
 .home__container{
  padding-top: 3rem;
  row-gap: 1.5rem;
 }
 .nav__menu{
  width: initial;
 }
 .nav__list{
  flex-direction: row;
  column-gap: 4rem;
 }
 .Favorties-section h1#Favorite-title {
  font-size: var(--h1-font-size);
  margin: 3rem 0 1rem;
 }
#image_Container, .About_Container, .Copyright_body{
  margin-top: 2rem;
}
.home__social{
  column-gap: 2rem;
}
.Copyright_body h3{
  line-height: 3rem;
}
}